{% for post in posts %}
    <div class="row mb-2 bg-light" style="border: 1px solid #ddd;">

        <div class="p-3">
            {% if post.image_path is not null %}
                <img src="{{ asset_url(post.image_path) }}" class="card-img-top"
                     alt="{{ post.title|escape }}">
            {% endif %}
            <div class="card-body">
                <a href="{{ url(post.url_key) }}"><h5 class="card-title">{{ post.title|escape }}</h5></a>
                <span class="text-muted">Ihor Khaletskyi | {{ post.publishedd_date|date("F d, Y") }}</span>
                <p class="card-text">{{ post.description|escape }}</p>
                <a href="{{ url(post.url_key) }}" class="">Read more</a>
            </div>

        </div><!-- ./p-3-->

    </div><!-- ./row -->

{% endfor %}